:root {
  --main-text-color: #212121;
  --main-bg-text-color: white;
  --second-bg-color: #2f303a;
  --logo-button-color: #2196f3;
  --link-paragraph-color: #757575;
  --team-bg-color: #f5f4fa;
  --accent--text-color: black;
  --link-footer: rgba(255, 255, 255, 0.6);
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}

.container {
  width: 1200px;
  background-color: var(--main-bg-text-color);
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*Шапка сайта*/

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-button-color);
  text-decoration: inherit;
  margin: 24px 93px 25px 0px;
}

.accent-white {
  color: var(--main-bg-text-color);
}
.accent-black {
  color: var(--accent--text-color);
}

.site-nav-item {
  font-weight: 500;
  list-style-type: none;
  color: inherit;
  letter-spacing: 0.02em;
  margin-right: 50px;
}
.site-nav {
  display: inline-block;
}

.site-nav,
.link {
  display: flex;
}

header nav,
header {
  display: flex;
  align-items: baseline;
}

header {
  justify-content: space-between;
}

.current {
  color: var(--logo-button-color);
}

.link-item {
  color: var(--link-paragraph-color);
  font-weight: 500;
  margin-right: 50px;
}

a {
  text-decoration: none;
}

/*Основное*/

.visually-hidden {
  clip: rect(1px 1px 1px 1px);
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.portfolio-filter,
.site-nav,
.item,
.list-feature,
.list-team,
.list-portfolio,
.item-portfolio,
.list-activity,
.link {
  list-style-type: none;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--main-bg-text-color);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 200px 237px 30px 237px;
  display: inline-block;
  width: 696px;
  height: 120px;
}

.hero {
  background-color: var(--second-bg-color);
  padding: 0;
  text-align: center;
}

.list-feature {
  display: flex;
  justify-content: center;
}

p {
  font-size: 16px;
  line-height: 1.9;
  color: var(--link-paragraph-color);
  letter-spacing: 0.03em;
}

.section {
  text-align: center;
  list-style-type: none;
  display: flex;
  margin: 94px 0;
}

ul {
  padding-left: 0px;
}
.section > img {
  margin-right: 30px;
  flex-direction: row;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  background-color: rgb(192, 77, 77);
  text-align: center;
  margin: 0;
}

h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

/*Деятельность*/

.list-portfolio {
  margin-right: 30px;
}
.list-activity {
  margin-top: 50px;
  margin-bottom: 94px;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}

.list-activity img {
  padding-right: 30px;
}
.list-activity img:last-child {
  padding-right: 0px;
}

.item-feature {
  margin: 94px 0px;
  width: 270px;
  min-height: 101px;
}

.item-feature p {
  font-size: 14px;
}
/*Команда*/
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.list-team {
  display: flex;
  /*margin: 50px 30px 0px 0px;*/
  justify-content: space-between;
}

.list-team > li {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
  margin-top: 50px;
}

.list-team > li:last-child {
  margin-right: 0px;
}
.team-section {
  background-color: var(--team-bg-color);
  display: inline-block;
  text-align: center;
  padding: 94px 0px;
}

/*Кнопки*/
button {
  display: inline-block;
  min-width: 73px;
  height: 38px;
  font-family: inherit;
  cursor: pointer;
  background-color: var(--team-bg-color);
  border-color: transparent;
  padding: 6px 22px;
}

.button-text {
  font-style: normal;
  font-weight: 500;
  color: var(--main-text-color);
}

.button-order {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-bg-text-color);
  background-color: var(--logo-button-color);
  text-align: center;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  padding: 10px 32px;
  display: inline-block;
  margin: 0 485px 200px;
}

button:focus,
button:hover,
button:active {
  background-color: var(--logo-button-color);
  color: var(--main-bg-text-color);
  border-color: transparent;
}

a:active,
a:hover,
a:focus {
  color: var(--logo-button-color);
}

/*Порфтолио*/
.portfolio-list-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 20px 24px 4px;
}

/*.item-portfolio {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
}*/

.item-portfolio p {
  margin: 0px 24px 20px 24px;
}
.img {
  display: block;
  max-width: 100%;
}

.portfolio-filter {
  padding: 0;
}

.item-portfolio {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin: 0px 30px 30px 0px;
  width: 370px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.grid-item {
  flex-basis: calc((100% - 30px * 3) / 3);
  margin-top: 30px;
  margin-left: 30px;
}
/*Футер*/
footer {
  background-color: var(--second-bg-color);
}
.footer-section {
  display: flex;
  flex-direction: column;
}

address {
  font-style: normal;
  color: var(--main-bg-text-color);
  font-size: 14px;
  line-height: 1.7;
}

.link-footer {
  color: var(--link-footer);
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 9px;
}

address {
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 60px auto;
}
.footer-section .logo {
  margin-bottom: 20px;
}
span {
  margin-bottom: 9px;
}
